body{
    background-image: url(../warpride.jpg);
    background-repeat: no-repeat;
    color: #66cdaa;
    font-family: "Roboto", sans-serif;
}
h1{
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    text-align: center;
}
nav{
    background-color: #000080
}
a{
    text-decoration: none;
    color:#6495ED;
}
a:hover{
    color:#7fffd4;
}
img{
    border-width: 20px;
}
.new{
    display:inline-block;
}
/*This is the code for the links. Not the nav, the other links.
Not the Nintendo kind either.*/
.info{
    background-image:none;
    background-color: #FF8C00;
    color:#FF4500;
    font-size:26px;
}
#product{
    float:left;
}
#character{
    float:right;
}
#other{
    clear: both;
}